/**
* @file _common.scss
**/

.is-pc {
    display: block;
    @include media-sp {
        display: none;
    }
}

.is-sp {
    display: none;
    @include media-sp {
        display: block;
    }
}

