/**
* @file _reset.scss
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  background: white;
}
body.is-active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  background: white;
  font-size: 0.078125vw;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 0.2564102564vw;
  }
}

*::selection {
  background: #826F34;
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

input[type=submit],
input[type=button] {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]:focus,
input[type=button]:focus {
  outline-offset: -2px;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  line-height: 0;
  vertical-align: bottom;
  pointer-events: none;
  user-select: none;
  border: 0;
}

input:focus {
  outline: 0;
}

hr {
  margin: 1.5em 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

* {
  padding: 0;
  line-height: 1;
}

td,
th,
tr {
  vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset,
legend {
  padding: 0;
}

label,
legend {
  margin-bottom: 0.375em;
  font-weight: 600;
}

fieldset {
  margin: 0;
  background-color: transparent;
  border: 0;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
  color: rgba(26, 31, 38, 0.2);
  margin-bottom: 0;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(26, 31, 38, 0.2);
  border-radius: 100%;
  background: #fff;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #1E2D59;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  letter-spacing: 0.075em;
}

.wow {
  visibility: hidden;
}