.swiper {
    width: 100%;
    height: 100%;
}

// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
body {
    background: white;
    color: #000;
}

.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

// .mySwiper2 {
//     height: 80%;
//     width: 100%;
// }
// .mySwiper {
//     height: 20%;
//     box-sizing: border-box;
//     padding: 10px 0;
// }
.mySwiper .swiper-slide {
    //width: 25%;
    //height: 100%;
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 360px;
    height: 203px;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    border: 8px solid black;
    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-prev:after {
    content: " ";
    margin-right: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.swiper-button-next:after {
    content: " ";
    margin-left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}