@font-face {
  font-family: "calluna-regular";
  src: url(../fonts/Calluna-Light.otf);
}
@font-face {
  font-family: "FOT-Klee-Pro-M";
  src: url(../fonts/FOT-Klee-Pro-M.otf);
}
@font-face {
  font-family: "FOT-Klee-Pro-DB";
  src: url(../fonts/FOT-Klee-Pro-DB.otf);
}
/**
* @file _reset.scss
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  background: white;
}
body.is-active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  background: white;
  font-size: 0.078125vw;
}
@media screen and (max-width: 870px) {
  html {
    font-size: 0.2564102564vw;
  }
}

*::selection {
  background: #826F34;
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

input[type=submit],
input[type=button] {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]:focus,
input[type=button]:focus {
  outline-offset: -2px;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  line-height: 0;
  vertical-align: bottom;
  pointer-events: none;
  user-select: none;
  border: 0;
}

input:focus {
  outline: 0;
}

hr {
  margin: 1.5em 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

* {
  padding: 0;
  line-height: 1;
}

td,
th,
tr {
  vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset,
legend {
  padding: 0;
}

label,
legend {
  margin-bottom: 0.375em;
  font-weight: 600;
}

fieldset {
  margin: 0;
  background-color: transparent;
  border: 0;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
  color: rgba(26, 31, 38, 0.2);
  margin-bottom: 0;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(26, 31, 38, 0.2);
  border-radius: 100%;
  background: #fff;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #1E2D59;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  letter-spacing: 0.075em;
}

.wow {
  visibility: hidden;
}

/**
* @file _common.scss
**/
.is-pc {
  display: block;
}
@media screen and (max-width: 870px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 870px) {
  .is-sp {
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  color: #000;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.mySwiper1 .swiper-slide img {
  display: block;
  width: 266px;
  height: 201px;
  object-fit: cover;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 295px;
  height: 379px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next1,
.swiper-button-prev1,
.swiper-button-next2,
.swiper-button-prev2 {
  border: 8px solid black;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next1 {
  right: -20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
}

.swiper-button-prev1 {
  left: -20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
}

.swiper-button-next2 {
  right: -20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
}

.swiper-button-prev2 {
  left: -20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
}

.swiper-button-prev:after {
  content: " ";
  top: 10%;
  left: -15%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.swiper-button-next:after {
  content: " ";
  top: 10%;
  right: -25%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.swiper-button-prev1:after {
  content: " ";
  top: 10%;
  left: -15%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.swiper-button-next1:after {
  content: " ";
  top: 10%;
  right: -25%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.swiper-button-prev2:after {
  content: " ";
  top: 10%;
  left: -15%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.swiper-button-next2:after {
  content: " ";
  top: 10%;
  right: -25%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.c-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.c-bg__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.c-bg__container div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  animation: slide 30s infinite;
  opacity: 0;
}
.c-bg__container div:nth-child(2) {
  animation-delay: 5s;
}
.c-bg__container div:nth-child(3) {
  animation-delay: 10s;
}
.c-bg__container div:nth-child(4) {
  animation-delay: 15s;
}
.c-bg__container div:nth-child(5) {
  animation-delay: 20s;
}
.c-bg__container div:nth-child(6) {
  animation-delay: 25s;
}

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.c-header__container {
  width: 100%;
  padding: 60rem;
  padding-bottom: 0;
  position: relative;
}
@media screen and (max-width: 870px) {
  .c-header__container {
    padding: 25rem;
  }
}
.c-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 870px) {
  .c-header__wrap {
    align-items: center;
  }
}
.c-header__wrap__logo {
  position: relative;
  z-index: 9999;
}
.c-header__wrap__logo a img {
  height: 35rem;
}
@media screen and (max-width: 870px) {
  .c-header__wrap__logo a img {
    height: 24rem;
  }
}
.c-header__wrap__text {
  position: relative;
  z-index: 9999;
}
.c-header__wrap__text img {
  width: 81rem;
}
.c-header__wrap__text img.is-white {
  display: block;
}
.c-header__wrap__text img.is-black {
  display: none;
}
@media screen and (max-width: 870px) {
  .c-header__wrap__text img {
    width: 55rem;
  }
}
.c-header__wrap__text.js-active img.is-white {
  display: block !important;
}
.c-header__wrap__text.js-active img.is-black {
  display: none !important;
}
.c-header__wrap__menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
}
@media screen and (max-width: 870px) {
  .c-header__wrap__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 90;
    padding-left: 25rem;
    align-items: flex-start;
    justify-content: center;
    gap: 40rem;
    padding-bottom: 40rem;
  }
  .c-header__wrap__menu.js-active {
    display: flex;
  }
}
.c-header__wrap__menu a {
  font-size: 12rem;
  font-family: "FOT-Klee-Pro-M";
  line-height: 1.75;
  color: white;
  transition: all 0.35s ease;
}
@media screen and (max-width: 870px) {
  .c-header__wrap__menu a {
    font-size: 18rem;
    line-height: 1.7222222222;
    transform: translateX(20rem);
    opacity: 0;
  }
}
@media screen and (max-width: 870px) {
  .c-header__wrap__menu.js-active a {
    animation-name: transform-anim;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    color: white !important;
    transition: all 0.35s ease;
  }
  .c-header__wrap__menu.js-active a:nth-child(2) {
    animation-delay: 0.2s;
  }
  .c-header__wrap__menu.js-active a:nth-child(3) {
    animation-delay: 0.4s;
  }
  .c-header__wrap__menu.js-active a:nth-child(4) {
    animation-delay: 0.6s;
  }
  .c-header__wrap__menu.js-active a:nth-child(5) {
    animation-delay: 0.8s;
  }
}
.c-header__map {
  position: fixed;
  bottom: 60rem;
  left: 80rem;
  z-index: 998;
  font-family: "calluna-regular";
  font-size: 24rem;
  color: white;
}
@media screen and (max-width: 870px) {
  .c-header__map {
    left: 35rem;
    bottom: 30rem;
    font-size: 17rem;
    font-family: "calluna-regular" !important;
  }
}
.c-header.is-active .c-header__wrap__text img.is-white {
  display: none;
}
.c-header.is-active .c-header__wrap__text img.is-black {
  display: block;
}
.c-header.is-active .c-header__wrap__menu a {
  color: black;
}

.c-title {
  font-family: "calluna-regular";
  font-size: 72rem;
  color: white;
  line-height: 1.25;
  writing-mode: vertical-rl;
  text-orientation: upleft;
  margin-top: -60rem;
  white-space: nowrap;
}
@media screen and (max-width: 870px) {
  .c-title {
    margin-top: -40rem;
    font-size: 49rem;
    line-height: 1.2653061224;
    position: relative;
    z-index: 100;
    margin-left: -10rem;
  }
}

.c-hamburg__menu {
  display: none;
}
@media screen and (max-width: 870px) {
  .c-hamburg__menu {
    display: block;
    width: 20px;
    height: 2px;
    background-color: transparent;
    position: relative;
    z-index: 9999;
  }
  .c-hamburg__menu::before {
    content: "";
    width: 20px;
    height: 2px;
    top: -3px;
    background: white;
    position: absolute;
    left: 0;
    transition: all 0.35s ease;
  }
  .c-hamburg__menu::after {
    content: "";
    width: 20px;
    height: 2px;
    bottom: -3px;
    background: white;
    position: absolute;
    left: 0;
    transition: all 0.35s ease;
  }
  .c-hamburg__menu.js-active::before {
    top: 0;
    transform: rotate(45deg);
    transform-origin: center;
    background: white !important;
  }
  .c-hamburg__menu.js-active::after {
    bottom: 0;
    transform: rotate(-45deg);
    transform-origin: center;
    background: white !important;
  }
}

.c-header.is-active .c-hamburg__menu::before, .c-header.is-active .c-hamburg__menu::after {
  background-color: black;
  transition: all 0.35s ease;
}

.c-nav {
  display: flex;
  align-items: center;
  padding: 0 55px;
  width: 100%;
  height: 93.5px;
  border-bottom: 1px solid #DBDBDB;
  justify-content: space-between;
}
@media screen and (max-width: 870px) {
  .c-nav {
    padding: 0, 10px;
    height: 78px;
    border-bottom: none;
  }
}
.c-nav_logo {
  background-image: url("../image/pc_logo.png");
  width: 132px;
  height: 48px;
}
@media screen and (max-width: 870px) {
  .c-nav_logo {
    background-image: url("../image/sp_logo.png");
    width: 105px;
    height: 38px;
  }
}
.c-nav_sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.c-nav_search {
  position: relative;
}
.c-nav_search_input {
  width: 472px;
  height: 49px;
  padding: 0 17px;
  border-radius: 40px;
  font-size: 12px;
  color: #989898;
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
}
@media screen and (max-width: 1083px) {
  .c-nav_search_input {
    width: 300px;
  }
}
@media screen and (max-width: 900px) {
  .c-nav_search_input {
    width: 200px;
  }
}
@media screen and (max-width: 870px) {
  .c-nav_search_input {
    height: 41px;
    width: 368px;
    padding: 0 17px;
  }
}
.c-nav_search .search {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  right: 22px;
  color: #5d3f41;
  font-size: 20px;
}
@media screen and (max-width: 870px) {
  .c-nav_search {
    display: none;
  }
}
.c-nav_login {
  border: 1px solid #211112;
  border-radius: 25px;
  height: 49px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #211112 !important;
}
.c-nav_login i {
  font-size: 14px;
}
.c-nav_login span {
  margin-left: 10px;
  font-size: 14px;
}
@media screen and (max-width: 870px) {
  .c-nav_login i {
    font-size: 20px;
  }
  .c-nav_login span {
    font-size: 8px;
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 870px) {
  .c-nav_login {
    flex-direction: column;
    border: none;
  }
}
.c-nav_cart {
  border-radius: 25px;
  height: 49px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: #eb5f03;
}
.c-nav_cart i {
  font-size: 14px;
}
.c-nav_cart span {
  margin-left: 10px;
  font-size: 14px;
}
@media screen and (max-width: 870px) {
  .c-nav_cart i {
    font-size: 20px;
    color: #eb5f03;
  }
  .c-nav_cart span {
    font-size: 8px;
    margin-left: 0;
    margin-top: 10px;
    color: #eb5f03;
  }
}
@media screen and (max-width: 870px) {
  .c-nav_cart {
    flex-direction: column;
    border: none;
    background-color: transparent;
  }
}
.c-nav_hamberg {
  display: none;
}
.c-nav_hamberg_memu {
  margin: 10px 0;
  display: inline-block;
  width: 20px;
  height: 3px;
  position: relative;
  z-index: 9999;
  background: black;
}
.c-nav_hamberg_memu::before {
  content: "";
  width: 20px;
  height: 3px;
  top: -7px;
  background: black;
  position: absolute;
  left: 0;
  transition: all 0.35s ease;
}
.c-nav_hamberg_memu::after {
  content: "";
  width: 20px;
  height: 3px;
  bottom: -7px;
  background: black;
  position: absolute;
  left: 0;
  transition: all 0.35s ease;
}
.c-nav_hamberg_memu.js-active::before {
  top: 0;
  transform: rotate(45deg);
  transform-origin: center;
  background: black !important;
}
.c-nav_hamberg_memu.js-active::after {
  bottom: 0;
  transform: rotate(-45deg);
  transform-origin: center;
  background: black !important;
}
.c-nav_hamberg span {
  font-size: 8px;
  margin-left: 0;
  margin-top: 8px;
  color: #eb5f03;
}
@media screen and (max-width: 870px) {
  .c-nav_hamberg {
    display: flex;
    padding: 0 5px;
    flex-direction: column;
  }
}

.sp_search {
  display: none;
  width: 100%;
  height: 60px;
  padding: 10px 10px;
  position: relative;
  background-color: #FCF4EC;
}
@media screen and (max-width: 870px) {
  .sp_search {
    display: inline-block;
  }
}
.sp_search .c-nav_search_input {
  width: 100%;
}
.sp_search .search {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  right: 22px;
  color: #5d3f41;
  font-size: 20px;
}

.p-container {
  position: relative;
  z-index: 100;
  padding: 0 55px;
}
@media screen and (max-width: 870px) {
  .p-container {
    padding: 0;
  }
}

@media screen and (max-width: 870px) {
  .p-intro_img_pc {
    display: none;
  }
}
.p-intro_img_sp {
  display: none;
}
@media screen and (max-width: 870px) {
  .p-intro_img_sp {
    display: block;
  }
}
.p-intro__wrap {
  width: 100%;
  background-color: white;
  padding: 90rem 150rem 50rem 90rem;
}
@media screen and (max-width: 870px) {
  .p-intro__wrap {
    padding: 60rem 0 60rem 35rem;
    margin-left: -15rem;
  }
}
.p-intro__wrap__ttl {
  font-family: "FOT-Klee-Pro-DB";
  font-size: 12rem;
  line-height: 1.75;
  color: black;
  border-top: solid 1px black;
}
@media screen and (max-width: 870px) {
  .p-intro__wrap__ttl {
    font-size: 9rem;
    line-height: 1.6666666667;
    padding-top: 5rem;
  }
}
.p-intro__wrap__des {
  padding: 50rem 70rem 0 130rem;
  font-family: "FOT-Klee-Pro-M";
  font-size: 24rem;
  line-height: 1.4166666667;
}
@media screen and (max-width: 870px) {
  .p-intro__wrap__des {
    padding: 35rem 5rem 0;
    font-size: 16rem;
    line-height: 1.5;
  }
}

.p-swiper {
  position: relative;
}
.p-swiper .swiper {
  margin-top: 30px;
}
.p-swiper .swiper hr {
  border-top: solid 1px #000000;
  margin-left: 30rem;
  margin-right: 120rem;
}
@media screen and (max-width: 870px) {
  .p-swiper .swiper hr {
    margin: 0;
  }
}
.p-swiper .swiper .swiper-slide img {
  border-color: #707070 !important;
  border-radius: 10px !important;
}
.p-swiper .swiper .swiper-pagination {
  display: none;
}
@media screen and (max-width: 870px) {
  .p-swiper .swiper-button-next,
  .p-swiper .swiper-button-prev {
    display: none;
  }
  .p-swiper .swiper-pagination {
    display: block !important;
  }
  .p-swiper .swiper-pagination span {
    width: 15px !important;
    height: 15px !important;
  }
  .p-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #E3C396 !important;
    border: none !important;
  }
  .p-swiper .swiper-pagination .swiper-pagination-bullet {
    border: 2px solid #E3C396 !important;
    background: transparent;
  }
}

.p-main {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  gap: 4%;
}

.p-menu {
  width: 100%;
  max-width: 200px;
}
@media screen and (max-width: 870px) {
  .p-menu {
    display: none;
  }
}
.p-menu_top {
  font-size: 53px;
}
.p-menu ul {
  margin-top: 30px;
}
.p-menu ul li {
  font-size: 13px;
  line-height: 2.5;
  list-style-image: url("../image/before.svg");
}
.p-menu .find_production {
  margin-top: 21px;
}
.p-menu .find_production li {
  font-size: 16px;
  font-weight: 600;
}
.p-menu .productor {
  margin-top: 22px;
}
.p-menu_line {
  margin-top: 26px;
  width: 100%;
  color: #000;
}
.p-menu_subtitle {
  margin-top: 20px;
  font-size: 12px;
}

.p-section_group {
  flex: 1;
  width: 100px;
}
@media screen and (max-width: 870px) {
  .p-section_group {
    width: 100%;
  }
}

.c_header_logo {
  display: flex;
  gap: 3px;
}
.c_header_logo_type {
  word-break: keep-all;
  font-size: 30px;
}
@media screen and (max-width: 870px) {
  .c_header_logo_type {
    font-size: 20px;
  }
}

.c_header {
  display: flex;
  justify-content: space-between;
}
.c_header_button {
  border-radius: 25px;
  height: 42px;
  padding: 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #FCF4EC;
  font-size: 12px;
}
@media screen and (max-width: 870px) {
  .c_header_button {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .c_header {
    padding-left: 11px;
  }
}

.product_recommends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12.8px;
  row-gap: 46px;
  margin-top: 28px;
}
@media screen and (max-width: 870px) {
  .product_recommends {
    grid-template-columns: 1fr 1fr;
  }
}
.product_recommends_des {
  margin-top: 7.6px;
  width: 100%;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 600;
  color: #340102;
}
@media screen and (max-width: 870px) {
  .product_recommends_des {
    font-size: 13px;
    font-weight: 400;
  }
}
.product_recommends_person {
  margin-top: 6.6px;
  display: flex;
  gap: 3.1px;
}
.product_recommends_person_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
}
.product_recommends_person .position {
  font-size: 14px;
  color: #340102;
}
@media screen and (max-width: 870px) {
  .product_recommends_person .position {
    font-size: 11px;
  }
}
.product_recommends_person .pasture {
  color: #340102;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 870px) {
  .product_recommends_person .pasture {
    font-size: 13px;
    font-weight: 400;
  }
}
.product_recommends_person img {
  width: 50px !important;
  height: 50px !important;
}

.p-tick {
  margin-top: 89px;
}
@media screen and (max-width: 870px) {
  .p-tick {
    margin-top: 67px;
  }
}
.p-tick_main {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #D00000;
  margin-top: 15px;
}
@media screen and (max-width: 870px) {
  .p-tick_main {
    margin-top: 11px;
  }
}
.p-tick_parent {
  z-index: 1;
  position: relative;
}
.p-tick_child {
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 50%;
  top: 43%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 870px) {
  .p-tick_child {
    top: 15%;
  }
}
@media screen and (max-width: 870px) {
  .p-tick_img_pc {
    display: none;
  }
}
.p-tick_img_sp {
  display: none;
}
@media screen and (max-width: 870px) {
  .p-tick_img_sp {
    display: block;
  }
}
.p-tick_title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #340102;
  line-height: 1.5;
}
@media screen and (max-width: 1260px) {
  .p-tick_title {
    font-size: 16px;
  }
}
@media screen and (max-width: 1083px) {
  .p-tick_title {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .p-tick_title {
    font-size: 12px;
  }
}
@media screen and (max-width: 870px) {
  .p-tick_title {
    font-size: 22px;
  }
}
.p-tick_content {
  font-size: 13px;
  color: #211112;
  text-align: center;
  margin-top: 20px;
  background-color: #F0D9B7;
  padding: 6px 30px;
  max-width: 40%;
  margin: auto;
}
@media screen and (max-width: 1260px) {
  .p-tick_content {
    font-size: 10px;
    margin-top: 16px;
    padding: 6px 20px;
  }
}
@media screen and (max-width: 1083px) {
  .p-tick_content {
    font-size: 9px;
    margin-top: 14px;
    padding: 6px 18px;
  }
}
@media screen and (max-width: 900px) {
  .p-tick_content {
    font-size: 6px;
    margin-top: 12px;
    padding: 6px 16px;
  }
}
@media screen and (max-width: 870px) {
  .p-tick_content {
    font-size: 13px;
    margin-top: 12px;
    padding: 6px 20px;
    max-width: 70%;
  }
}
.p-tick_button {
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 17px;
  text-align: center;
  padding: 20px 40px;
  background-color: white;
  border-radius: 32px;
}
@media screen and (max-width: 1260px) {
  .p-tick_button {
    font-size: 15px;
    padding: 20px 40px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 1083px) {
  .p-tick_button {
    font-size: 13px;
    padding: 18px 36px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .p-tick_button {
    font-size: 11px;
    padding: 16px 32px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 870px) {
  .p-tick_button {
    font-size: 18px;
    padding: 15px 87px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.p-feature {
  margin-top: 95px;
}
@media screen and (max-width: 870px) {
  .p-feature {
    margin-top: 34px;
  }
}
.p-feature_list {
  margin-top: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 14px;
  row-gap: 12px;
}
@media screen and (max-width: 870px) {
  .p-feature_list {
    margin-top: 9px;
    grid-template-columns: 1fr;
    column-gap: 10px;
  }
}

.p-ranking {
  margin-top: 70px;
}
@media screen and (max-width: 870px) {
  .p-ranking {
    margin-top: 55px;
  }
}
.p-ranking_swipper {
  position: relative;
}
.p-ranking_swipper .swiper {
  margin-top: 30px;
}
.p-ranking_swipper .swiper hr {
  border-top: solid 1px #000000;
  margin-left: 30rem;
  margin-right: 120rem;
}
@media screen and (max-width: 870px) {
  .p-ranking_swipper .swiper hr {
    margin: 0;
  }
}
.p-ranking_swipper .swiper .swiper-slide_img {
  border-color: #707070 !important;
  width: 266px;
  height: 201px;
}
.p-ranking_swipper .swiper .swiper-pagination {
  display: none;
}
@media screen and (max-width: 870px) {
  .p-ranking_swipper .swiper-button-next1,
  .p-ranking_swipper .swiper-button-prev1 {
    display: none;
  }
  .p-ranking_swipper .swiper-pagination {
    display: block !important;
  }
  .p-ranking_swipper .swiper-pagination span {
    width: 15px !important;
    height: 15px !important;
  }
  .p-ranking_swipper .swiper-pagination .swiper-pagination-bullet-active {
    background: #E3C396 !important;
    border: none !important;
  }
  .p-ranking_swipper .swiper-pagination .swiper-pagination-bullet {
    border: 2px solid #E3C396 !important;
    background: transparent;
  }
}
.p-ranking_des {
  font-size: 16px;
  color: #340102;
  margin-top: 8px;
  padding: 0 5px;
}

.p-wagyu {
  margin-top: 98px;
}
@media screen and (max-width: 870px) {
  .p-wagyu {
    margin-top: 67px;
  }
}

.p-productor_swiper {
  position: relative;
}
.p-productor_swiper .swiper {
  margin-top: 30px;
}
.p-productor_swiper .swiper hr {
  border-top: solid 1px #000000;
  margin-left: 30rem;
  margin-right: 120rem;
}
@media screen and (max-width: 870px) {
  .p-productor_swiper .swiper hr {
    margin: 0;
  }
}
.p-productor_swiper .swiper .swiper-slide img {
  border-color: #707070 !important;
  border-radius: 10px !important;
}
.p-productor_swiper .swiper .swiper-pagination {
  display: none;
}
@media screen and (max-width: 870px) {
  .p-productor_swiper .swiper-button-next2,
  .p-productor_swiper .swiper-button-prev2 {
    display: none;
  }
  .p-productor_swiper .swiper-pagination {
    display: block !important;
  }
  .p-productor_swiper .swiper-pagination span {
    width: 15px !important;
    height: 15px !important;
  }
  .p-productor_swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #E3C396 !important;
    border: none !important;
  }
  .p-productor_swiper .swiper-pagination .swiper-pagination-bullet {
    border: 2px solid #E3C396 !important;
    background: transparent;
  }
}
.p-productor_swiper .productor_position {
  margin-top: 17px;
  margin-left: 10px;
  font-size: 13px;
  color: #340102;
}
.p-productor_swiper .productor_name {
  margin-top: 17px;
  margin-left: 10px;
  font-size: 19px;
  color: #340102;
}

.wagyu_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 12.8px;
  row-gap: 46px;
  margin-top: 32px;
}
@media screen and (max-width: 870px) {
  .wagyu_products {
    grid-template-columns: 1fr 1fr;
  }
}

.p-productor {
  margin-top: 114px;
}
@media screen and (max-width: 870px) {
  .p-productor {
    margin-top: 77px;
  }
}

.p-education {
  margin-top: 109px;
}
@media screen and (max-width: 870px) {
  .p-education {
    margin-top: 58px;
  }
}
.p-education_list {
  margin-top: 47px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 49px;
  row-gap: 32px;
}
@media screen and (max-width: 870px) {
  .p-education_list {
    margin-top: 11px;
    grid-template-columns: 1fr;
    column-gap: 35px;
    padding: 0 11px;
  }
}

.p-article {
  margin-top: 129px;
}
@media screen and (max-width: 870px) {
  .p-article {
    margin-top: 53px;
  }
}
.p-article_list {
  margin-top: 41px;
}
@media screen and (max-width: 870px) {
  .p-article_list {
    margin-top: 14px;
  }
}
.p-article_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DBDBDB;
  padding: 26px 0;
  padding-right: 5px;
  position: relative;
}
@media screen and (max-width: 870px) {
  .p-article_item {
    padding: 26px 11px;
  }
}
.p-article_item_img {
  margin-right: 36px;
  width: 380px;
  height: 190px;
}
@media screen and (max-width: 870px) {
  .p-article_item_img {
    width: 172px;
    height: auto;
  }
}
.p-article_item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.p-article_item:first-child {
  padding-top: 0;
}
.p-article .title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 870px) {
  .p-article .title {
    font-size: 14px;
    width: 100%;
  }
}
.p-article .content {
  margin-top: 17px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 870px) {
  .p-article .content {
    display: none;
  }
}
.p-article .date {
  position: absolute;
  right: 0;
  bottom: 26px;
  font-size: 16px;
}
@media screen and (max-width: 870px) {
  .p-article .date {
    right: 11px;
    bottom: 0px;
  }
}

.c-footer {
  margin-top: 112px;
  width: 100%;
}
.c-footer .totop {
  height: 60px;
  background-color: #FCF4EC;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 58px;
}
.c-footer .totop a {
  font-size: 14px;
  color: #211112 !important;
  font-weight: 600;
}
@media screen and (max-width: 870px) {
  .c-footer .totop {
    justify-content: center;
  }
}
.c-footer_content {
  margin-top: 51px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 101px 0 47px;
}
@media screen and (max-width: 870px) {
  .c-footer_content {
    flex-direction: column;
    padding: 0 5px;
    align-items: center;
  }
}
.c-footer_content li {
  font-size: 14px;
  line-height: 3;
}
@media screen and (max-width: 870px) {
  .c-footer_content li {
    border-bottom: 1px solid #D6D6D6;
  }
}
.c-footer_content_social {
  text-align: center;
}
.c-footer_content_social_button {
  display: flex;
  justify-content: center;
  margin-top: 37px;
  display: flex;
  gap: 3px;
}
@media screen and (max-width: 870px) {
  .c-footer_content_social_button {
    margin-top: 30px;
  }
}
.c-footer_content_social a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179px;
  height: 56px;
  border: 1px solid #E6E6E6;
  color: #340102;
}
.c-footer_content_info {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
@media screen and (max-width: 870px) {
  .c-footer_content_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 34px;
    gap: 23px;
  }
}
.c-footer_content_info_misce {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
@media screen and (max-width: 870px) {
  .c-footer_content_info_misce {
    gap: 0px;
    flex-direction: column;
  }
}
.c-footer_mark {
  float: right;
  padding-right: 101px;
  margin-top: 58px;
  margin-bottom: 28px;
}
@media screen and (max-width: 870px) {
  .c-footer_mark {
    float: none;
    padding: 0;
    margin: 58px auto auto auto;
    display: block;
  }
}
.c-footer_company {
  font-size: 14px;
  padding-left: 68px;
  clear: both;
  margin-bottom: 50px;
}
@media screen and (max-width: 870px) {
  .c-footer_company {
    text-align: center;
    padding: 0;
    margin-top: 36px;
  }
}

.p-detail_wrap {
  max-width: 963px;
  margin: auto;
  padding: auto;
}
.p-detail_wrap h2 {
  font-size: 20px;
  margin-bottom: 13px;
  font-weight: bold;
  color: #340102;
}
@media screen and (max-width: 768px) {
  .p-detail_wrap h2 {
    margin-bottom: 0px;
  }
}
.p-detail_wrap p {
  margin-top: 15px;
  font-size: 14px;
  color: #340102;
  line-height: 25px;
}
.p-detail_wrap h3 {
  font-size: 16px;
  color: #340102;
  margin-top: 29px;
}

.p-detail_component {
  margin-top: 63px;
  max-width: 492px;
}

.p-detail_comment {
  margin-top: 63px;
  max-width: 492px;
  background-color: #FCF4EC;
  padding: 28px 26px;
}

.p-detail_information {
  margin-top: 48px;
  max-width: 492px;
}
.p-detail_information li {
  font-size: 14px;
}
.p-detail_information span {
  font-size: 14px;
}
.p-detail_information ul {
  list-style: square;
  margin-top: 30px;
}
.p-detail_information ul:first-child {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .p-detail_information {
    display: none;
  }
}

.p-detail_productor {
  margin-top: 48px;
  max-width: 492px;
}
.p-detail_productor a {
  font-size: 14px;
  color: #340102;
}
.p-detail_productor_link {
  display: flex;
  max-width: 295px;
  background-color: #FCF4EC;
  padding: 15px 22px;
  border-radius: 5px;
  justify-content: space-between;
}
.p-detail_productor svg {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .p-detail_productor {
    display: none;
  }
}